<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-purikura"
	version="0.0.1">

	<name>Purikura</name>
	<description>Purikura support.</description>
	<author>TwoGate inc.</author>
	<keywords>purikura</keywords>
	<license></license>

	<engines>
		<engine name="cordova" version=">=7.1.0"/>
		<engine name="cordova-android" version=">=7.1.0"/>
	</engines>

	<js-module src="www/Purikura.js" name="Purikura">
		<clobbers target="Purikura"/>
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Purikura">
				<param name="android-package" value="com.twogate.plugins.purikura.PurikuraPlugin"/>
			</feature>
		</config-file>

		<source-file src="src/android/PurikuraPlugin.java" target-dir="src/com/twogate/plugins/purikura"/>
	</platform>
</plugin>

